<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75062907686-1ggfoqoevcpbri2p7c790njh31a9horm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75062907686-1ggfoqoevcpbri2p7c790njh31a9horm</string>
	<key>API_KEY</key>
	<string>AIzaSyCkTDwls2vBNeCkYuUvAiGXxl6Mna7GXW8</string>
	<key>GCM_SENDER_ID</key>
	<string>75062907686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CAUCLUB</string>
	<key>PROJECT_ID</key>
	<string>cauclub1</string>
	<key>STORAGE_BUCKET</key>
	<string>cauclub1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75062907686:ios:3f83a7c780efb6ad6e27e7</string>
	<key>DATABASE_URL</key>
	<string>https://cauclub1-default-rtdb.firebaseio.com</string>
</dict>
</plist>